.header {
    margin-bottom: 2rem;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}
.todo-item-completed{
    text-decoration: line-through;
    font-style: italic;
    color: #d9d9d9;
}
.todo-item-text{
    margin-left: 12px;
}